<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

  <body>
    <%- include('layouts/navbar'); -%>

      <header class="masthead" style="background-image: url('assets/img/contact-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
          <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
              <div class="page-heading">
                <h1>Create New Post</h1>
              </div>
            </div>
          </div>
        </div>
      </header>

      <main class="mb-4">
        <div class="container px-4 px-lg-5">
          <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

              <form action="/posts/store" method="POST" enctype="multipart/form-data">

                <div class="form-floating">
                  <input class="form-control" id="title" name="title" type="text" placeholder="Title..." required />
                  <label for="title">Title</label>
                </div>

                <br />

                <div class="control-group">
                  <div class="form-group floating-label-form-group controls">
                    <label>Description</label>
                    <textarea id="body" name="body" class="form-control"></textarea>
                  </div>
                </div>

                <!-- Add this script at the bottom of the file, before closing body tag -->
                <script>
                  $(document).ready(function () {
                    $('#body').summernote({
                      placeholder: 'Write your blog post here...',
                      tabsize: 2,
                      height: 300
                    });
                  });
                </script>

                <br />
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls">
                    <label>Image</label>
                    <input type="file" class="form-control" id="image" name="image">
                  </div>
                </div>
                <br>
                <button class="btn btn-primary text-uppercase" type="submit">
                  Submit
                </button>

              </form>

            </div>
          </div>
        </div>
      </main>

      <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
  </body>

</html>